# ==========================================
# Environment variables for Django project
# ==========================================

# Security
SECRET_KEY="your-secret-django-key-here"
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,smartStudy_backend
DJANGO_SETTINGS_MODULE=smartStudy_backend.settings

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# ==========================================
# Database configuration (PostgreSQL)
# ==========================================
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=smartStudy
DATABASE_USER=your_db_user
DATABASE_PASSWORD=your_db_password
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_URL=postgres://${DATABASE_USER}:${DATABASE_PASSWORD}@postgres:5432/${DATABASE_NAME}

# ==========================================
# NoSQL Database configuration (MongoDB)
# ==========================================
MONGO_USER=your_mongo_user
MONGO_PASSWORD=your_mongo_password
MONGO_DB=smartStudy
MONGO_DB_URI=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongodb:27017/admin?authSource=admin

# ==========================================
# Celery & Redis configuration
# ==========================================
REDIS_HOST=redis
REDIS_PORT=6379
CLIENT_CLASS=django_redis.client.DefaultClient
BACKEND=django_redis.cache.RedisCache
REDIS_PASSWORD=your_redis_password_here

# ==========================================
# Cloud Storage configuration (Supabase)
# ==========================================
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_API_KEY=your_supabase_anon_key_here
SUPABASE_USERS_PROFILE_PICTURES_BUCKET=users-profile-pictures
SUPABASE_COURSES_COVER_PICTURES_BUCKET=course-cover-pictures

# ==========================================
# Email configuration
# ==========================================
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password_here

# ==========================================
# OAuth configuration (Social Auth)
# ==========================================
# Google
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Facebook
FACEBOOK_APP_ID=your_facebook_app_id
FACEBOOK_APP_SECRET=your_facebook_app_secret

TIME_ZONE=UTC